[submodule "frontend"]
	path = frontend
	url = git@github.com:HappySlappyFace/GoldenCaravanProject.git
[submodule "backend"]
	path = backend
	url = git@github.com:HappySlappyFace/GoldenCaravanBackend.git
